.nav-link {
    color: #101010;
    font-weight: lighter !important;
}

.nav-link.link-active {
    color: #0465B3;
    font-weight: bold !important;
}

.nav-link {
    font-weight: bolder;
}

.nav-link:hover {
    color: #0465b3;
    font-weight: bold !important;
}

a.nav-link {
    text-decoration: none;
    color: black;
}

#language-select {
    width: fit-content;
}

#signin_toggle {
    text-decoration: none;
}

